body
{
   /* background-image:url('images.jpg');
 */
  background-color:#fff;
}
.navbar-default
 {
     background-color: #FFCCCC;
     border-color: #e7e7e7;
  }
   .jumbotron 
   {
        padding-top:30px;
       background-image:url('82.jpg');
      height: 500px;
      background-repeat: no-repeat;
     background-size: cover;
  }
  .jumbotron .container {
  position: relative;
  margin-top:20px;
  margin-left: 10px; 
  
}

.jumbotron h2{
  color: #800040;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}
 h3{
  color: #800040;
  font-size: 38px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
 }
#display{
      background-color:#FFCCCC;
      height:350px;
      margin-top:10px;
      margin-left:30px;
      border-radius: 20px;


    }
    #dis
    {
       background-color:#99CCFF;
       height:500px;
       margin-top:10px;
       margin-left:30px;
       border-radius: 20px;
       width:95%;
    }
    #di
    {
       background-color:#99CCFF;
        height:300px;
        margin-top:10px;
         margin-left:30px;
       border-radius: 20px;
       width:95%;
    }
    #inside{
      margin-left:10px;
      margin-top:10px;

      float: left;
      width: 100%;
      height: 300px;
    }
   
    .panel-footer
    {
      background-color: #FFCCCC;
      margin-top:10px;
      height: 100px;
    }
    #n
    {
      margin-left: 250px;
    }
    #left
    {
      float: left;
      margin-top:130px;
      margin-left: 680px;

    }
    #im
    {
         width: 400px;
         height: 300px;
    }
    #d
    {
      background-color:#FF99FF;
      width:50%;
      margin-left:30px;
      border-radius: 20px;
      height: 300px;
      float: left;
       margin-top: 20px;
    }
    #input
    {
      margin-left: 10px;
       border-radius: 20px;
       width: 380px;
       height: 40px;

    }
    span + span {
    margin-left: 10px;
}
#con
{
  width: 100%;
  margin-top: 10px;
}
#right
{
  background-color:#FF99FF;
  width:40%;
  float: left;
  margin-left:30px;
   border-radius: 20px;
   margin-top: 20px;
   height: 300px;
}
#href
{
  font-family:solid,bold;
  font-size: 18pt;
  margin-left: 10px;
  
}
.img-thumbnail {
width:1000px;
height: 200px;
margin-left: 100px;

}
#txt
{
  width: 1000px;
  height: 150px;
  border-radius: 20px;
  margin-left: 30px;
}    
#bt
{
  margin-left: 40px;
}


